<?xml version="1.0" encoding="utf-8"?>
<configuration>


  <appSettings>
    <add key="appurl" value="https://portal2.passportindia.gov.in/AppOnlineProject/user/RegistrationBaseAction"/>
    <add key="userid" value=""/>
    <add key="password" value=""/>
    <add key="browser" value="chrome"/>
    <add key="TestResults" value="TestResults"/>

  </appSettings>

</configuration>